<!-- <hr> -->
<footer class="info">
  <div class="contact">
    <p>
      Yoshua Wakeham<br />
      Student<br />
    </p>
  </div>
  <div class="contact">
    <p>
    yoshwakeham <strong>at</strong> gmail <strong>dot</strong> com<br />
      <a href="http://github.com/yoshw/">github.com/yoshw</a><br />
      <a href="http://twitter.com/yoshw/">twitter.com/yoshw</a><br />
    </p>
  </div>
  <div class="rss">
    <a href="{{ base.url }}/atom.xml">
      <img src="{{ base.url }}/images/rss.png" alt="Subscribe to the RSS Feed" height=50 />
    </a>
  </div>
</footer>
