<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width,initial-scale=1.0">
    <title>{{ page.title }}</title>
    <!-- Homepage CSS -->
    <link rel="stylesheet" href="{{ base.url }}/stylesheets/default.css" type="text/css"/>
    <!-- Atom feed ... -->
    <link href="{{ base.url }}/atom.xml" rel="alternate" title="The Lark Compiling" type="application/atom+xml">
    <!-- Enable MathJax -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
          jax: ["input/TeX", "output/HTML-CSS"],
          "HTML-CSS": { availableFonts: ["TeX"] }
        });
    </script>
    <script type="text/javascript"
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
  </head>
  <body>
    <h1><a href="{{ base.url }}/">The Lark Compiling</a></h1>
    {{ content }}
  </body>
</html>
